PORT= "PORT du serveur express"

JWT_REFRESH_EXPIRATION= "Durée de validité des tokens de rafraichissement. Exemple: 12h, 30d, 1y, etc."
JWT_SECRET= "Generer une nouvelle cleé secrète si besoin avec la commande << openssl rand -base64 172 | tr -d '\ n' >> et la copier ici, sans les << >>. ATTENTION, CELA REVOQUERA LES TOKEN NON EXPIRES, obligeant les users à se reconnecter."
SALT_ROUNDS= "Nombre de tours de salage pour le hashage des mots de passe. Plus le nombre est élevé, plus le hashage est sécurisé, mais plus il est lent. 10 est une valeur raisonnable."
DATABASE_URL= "sera automatiquement mis à jour par update_env.sh et updateSqitch_env.sh a condition que vous soiyiez connecté à Heroku dans votre terminal avec la commande << heroku login >>. Sinon, vous pouvez le faire manuellement en remplaçant cette ligne par l'URL de votre base de données PostgreSQL."